menu:
    budgets: "'nav-bar md-toolbar .md-button' with text 'Budgets'"
    planner: "'nav-bar md-toolbar .md-button' with text 'Planner'"
    transactions: "'nav-bar md-toolbar .md-button' with text 'Transactions'"
planner:
    graph: "'#plannerGraph'"
login:
    password: "'#txtPassword'"
budgets:
    addBudget: "'.budgets .pageHeader .actionButtons button' with text 'Add budget'"
    dialog:
        name: "model vm.budgetModel.name"
        amount: "model vm.budgetModel.goal"
        save: "'.editBudgetDialog md-dialog-actions button[type=submit]'"
        addTag: "'.editBudgetDialog .rightContainer button[tag-selector-dialog]'"
tagSelector:
    appearance: "'md-dialog.tagSelector button' with text 'Appearance'"
    enjoyment: "'md-dialog.tagSelector button' with text 'Enjoyment'"
