scopeName: 'source.test'
name: 'Test'
fileTypes: ['test']
patterns: [
    {
        match: '^\\s*(test)\\s+(.+)$',
        captures:
            1:
                name: 'keyword.test'
            2:
                name: 'entity.string.test'
    }
    {
        match: '\\s*^(function)\\s+(.+?)\\((.+)\\)$',
        captures:
            1:
                name: 'keyword.test'
            2:
                name: 'entity.name.function.test'
            3:
                name: 'variable.parameter.test'
    }
    {
        match: '^end\\b',
        name: 'keyword.test'
    }
    {
        match: '[^:]//.*$',
        name: 'comment.line.test'
    }
    {
        match: '\'.+?\'',
        name: 'string.test'
    }
    {
        match: '^(#\\w+)\\s?=(.+)$',
        captures:
            1:
                name: 'keyword.other.special-method.test'
            2:
                name: 'string.test'
    }
    {
        match: '^\\s*(load)\\s+(\\S+)'
        captures:
            1:
                name: 'support.function.test'
            2:
                name: 'url.string.test'
    }
    {
        match: '^\\s*(expect)\\s+\\((.+)\\)\\s+(to (not )?be)\\s+(.+)'
        captures:
            1:
                name: 'support.function.test'
            2:
                patterns: [
                    {
                        match: '@.+'
                        name: 'variable.test'
                    }
                    {
                        match: '\'.+\''
                        name: 'string.test'
                    }
                ]
            3:
                name: 'support.function.test'
            4:
                name: 'support.function.test'
            5:
                name: 'constant.variable.test'
    }
    {
        match: '^\\s*(call)\\s+\\((.+)\\)\\s+(with)\\s+\\((.+)\\)'
        captures:
            1:
                name: 'support.function.test'
            2:
                name: 'variable.test'
            3:
                name: 'support.function.test'
            4:
                name: 'string.test'
    }
    {
        match: '^\\s*(input)\\s+\\((.+)\\)\\s+(text)\\s+(.+)'
        captures:
            1:
                name: 'support.function.test'
            2:
                patterns: [
                    {
                        match: '@.+'
                        name: 'variable.test'
                    }
                    {
                        match: '\'.+\''
                        name: 'string.test'
                    }
                ]
            3:
                name: 'support.function.test'
            4:
                patterns: [
                    {
                        match: '^\\w+$'
                        name: 'variable.test'
                    }
                    {
                        match: '\'.+\''
                        name: 'string.test'
                    }
                ]
    }
    {
        match: '^\\s*(click)\\s+\\((.+)\\)'
        captures:
            1:
                name: 'support.function.test'
            2:
                patterns: [
                    {
                        match: '@.+'
                        name: 'variable.test'
                    }
                    {
                        match: '\'.+\''
                        name: 'string.test'
                    }
                ]
    }
    {
        match: '^\\s*(wait)\\s+(\\w+)'
        captures:
            1:
                name: 'support.function.test'
            2:
                name: 'constant.variable.test'
    }
]
